/*
 * Device tree for "Itead Core EVB A20"
 */

/dts-v1/;
#include "sun7i-a20.dtsi"
#include "sunxi-itead-core-common.dtsi"
#include "dt-bindings/pinctrl/sun4i-a10.h"

/ {
	model = "Itead Core EVB A20";
	compatible = "itead,itead-coreEVB-a20", "allwinner,sun7i-a20";

	#address-cells = <1>;
	#size-cells = <1>;
	chosen {
		stdout-path = "serial0:115200n8";
	};
	aliases {
		serial0 = &uart0;
	};
	memory { device_type = "memory"; reg = <0 0>; };

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins_itead_core>;

		green {
			label = "itead_core:green:usr";
			gpios = <&pio 7 20 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		blue {
			label = "itead_core:blue:usr";
			gpios = <&pio 7 21 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "On-board SPDIF";

		simple-audio-card,cpu {
			sound-dai = <&spdif>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";
		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
	};
};

&ahci {
	target-supply = <&reg_ahci_5v>;
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&otg_sram {
        status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&codec {
	status = "okay";
};

&gmac {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_mii_pins>;
	phy = <&phy1>;
	phy-mode = "mii";
	status = "okay";

	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&mdio {
	status = "okay";

	/*
	phy1: ethernet-phy@1 {
		reg= <1>;
	};
	*/
};

&i2c0 {
	axp209: pmic@34 {
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c1 {
	status = "okay";
};

&ir0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ir0_rx_pin>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 7 1 GPIO_ACTIVE_LOW>; /* PH1 */
	status = "okay";
};

&nfc {
	pinctrl-names = "default";
	pinctrl-0 = <&nand_pins_a>, <&nand_cs0_pins_a>, <&nand_rb0_pins_a>;
	status = "okay";

	nand@0 {
		#address-cells = <2>;
		#size-cells = <2>;
		reg = <0>;
		allwinner,rb = <0>;

		nand-ecc-mode = "hw";
		nand-on-flash-bbt;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <2>;
			#size-cells = <2>;

			partition@000000000 {
				label = "reserved";
				reg = /bits/ 64 <0x000000000 0x002000000>;
				read-only;
			};
			partition@100000000 {
				label = "ubi";
				reg = /bits/ 64 <0x002000000 0x0fa000000>;
			};
			partition@180000000 {
				label = "iffy";
				reg = /bits/ 64 <0x0fc000000 0x004000000>;
			};
		};
	};
};

&pio {
#if 0	/* maybe? */
	ahci_pwr_pin_itead_core_evb: ahci_pwr_pin@1 {
	/* Align with Itead_CoreEVB_A20_defconfig, where we have:
		CONFIG_SATAPWR="PH12"
	 */
		allwinner,pins = "PH12";
		allwinner,function = "gpio_out";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};
#endif

	led_pins_itead_core: led-pins@0 {
		pins = "PH20","PH21";
		function = "gpio_out";
		drive-strength = <20>;
	};

#if 1	/* "U-Boot alternative" (codekipper@gmail.com original) */
	/* Align to Itead_CoreEVB_A20_defconfig, where we have:
		CONFIG_USB0_VBUS_DET="PH22"
		CONFIG_USB0_ID_DET="PH19"
	 */
	usb0_id_detect_pin: usb0_id_detect_pin@0 {
		allwinner,pins = "PH19";
		allwinner,function = "gpio_in";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	usb0_vbus_detect_pin: usb0_vbus_detect_pin@0 {
		allwinner,pins = "PH22";
		allwinner,function = "gpio_in";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};
#else	/* matches Marsboard */
	usb0_id_detect_pin: usb0-id-detect-pin {
		pins = "PH4";
		function = "gpio_in";
		bias-pull-up;
	};
#endif

	nand_pins_a: nand_base0@0 {
		allwinner,pins = "PC0", "PC1", "PC2",
				"PC5", "PC8", "PC9", "PC10",
				"PC11", "PC12", "PC13", "PC14",
				"PC15", "PC16";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	nand_cs0_pins_a: nand_cs@0 {
		allwinner,pins = "PC4";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	nand_cs1_pins_a: nand_cs@1 {
		allwinner,pins = "PC3";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	nand_cs2_pins_a: nand_cs@2 {
		allwinner,pins = "PC17";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	nand_cs3_pins_a: nand_cs@3 {
		allwinner,pins = "PC18";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	nand_rb0_pins_a: nand_rb@0 {
		allwinner,pins = "PC6";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	nand_rb1_pins_a: nand_rb@1 {
		allwinner,pins = "PC7";
		allwinner,function = "nand0";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

#if 0	/* maybe? */
	usb0_vbus_pin_a: usb0_vbus_pin@0 {
	/* Matches U-Boot Itead_CoreEVB_A20_defconfig, where we have:
		CONFIG_USB0_VBUS_PIN="PH17"
	 */
		allwinner,pins = "PH17";
		allwinner,function = "gpio_out";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};
#endif
};

&reg_ahci_5v {
#if 0	/* TODO: maybe? */
	pinctrl-0 = <&ahci_pwr_pin_itead_core_evb>;
	gpio = <&pio 7 12 GPIO_ACTIVE_HIGH>;
#endif
	status = "okay";
};

#if 0	/* maybe? [WmT] codekipper@gmail.com original */
&reg_usb0_vbus {
	pinctrl-0 = <&usb0_vbus_pin_a>;
	gpio = <&pio 7 17 GPIO_ACTIVE_HIGH>;
	status = "okay";
};
#endif

&reg_usb1_vbus {
	status = "okay";
};

&reg_usb2_vbus {
	status = "okay";
};

&usbphy {
	pinctrl-names = "default";
	pintctrl-0 = <&usb0_id_detect_pin>;
	usb0_id_det-gpio = <&pio 7 4 GPIO_ACTIVE_HIGH>;
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
};

&spdif {
	pinctrl-names = "default";
	pinctrl-0 = <&spdif_tx_pin>;
	status = "okay";
};
