CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN7I=y
CONFIG_DEFAULT_DEVICE_TREE="sun7i-a20-iteadCoreEVB"
CONFIG_SPL=y
CONFIG_SPL_I2C_SUPPORT=y
CONFIG_SPL_TEXT_BASE=0x60

## --- WmT, 2019-03-12: old kernel support
## About CONFIG_OLD_SUNXI_KERNEL_COMPAT
##	...related to supervisor (SVC) vs hypervisor (HYP) mode?
##	..._NONSEC && !_BOOT_SEC_DEFAULT -> hypervisor mode ("nonsec")
## U-Boot PSCI interface requires "nonsec" (HYP) mode;
##	...U-Boot will automatically provide PSCI device nodes
## Where kernels don't support non-secure mode, set bootm_boot_mode=sec
CONFIG_OLD_SUNXI_KERNEL_COMPAT=y
CONFIG_ARMV7_NONSEC=y
CONFIG_ARMV7_BOOT_SEC_DEFAULT=y
## ---

## --- WmT, 2019-03-14: Ethernet support
## CONFIG_NET is on by default normally
##	...and for sunxi needs patching to turn off
##	EMAC overkill? (Useful only for Marsboard?)
## Possible (but non-obvious) benefit from further options:
##	CONFIG_SUN7I_GMAC_FORCE_TXERR=y
##	CONFIG_PHY_FIXED=y
CONFIG_NET=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_MII=y
CONFIG_SUN4I_EMAC=y
CONFIG_SUN7I_GMAC=y
##CONFIG_SUN7I_GMAC_FORCE_TXERR=y
##CONFIG_PHY_FIXED=y
##CONFIG_GMAC_TX_DELAY defaults to 0
